.login-page {
    margin: 1em;
    background: white;
    border-radius: 10px;
    padding: 1em 0 2em 0;
}

.login-title {
    margin-bottom: 10px;
    display: block;
}

.login-title > h1 {
    font-size: 2.5em;
}

.login-content {
    display: inline-block;
    max-width: 395px;
}

.login-form {
    margin-top: 2em;
}

.login-page-button-container {
    margin-top: 1.5em;
}

.login-error-message {
    font-size: 0.8em;
    color: red;
    margin-bottom: 10px;
}