.login-page {
    margin-top: 1em;
}

.login-title {
    margin: 10px 0px 10px 0px;
    display: block;
}

.login-title > h1 {
    font-size: 2.5em;
}

.login-content {
    display: inline-block;
    max-width: 395px;
}

.login-form {
    margin-top: 3em;
}

.login-page-button-container {
    margin-top: 1.5em;
}