
.post-header {
    display: flex;
    justify-content: space-between;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    align-items: flex-end;
}

.post-item-name {
    font-size: 1.3em;
    font-weight: bold;
}

.post-buy-or-sell {
    background-color: #673ab7;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
}

.post-buy-or-sell.buying {
    background-color: #9c27b0;
}

.post-subtitle {
    font-size: 0.9em;
    color: #777;
    display: flex;
    align-items: center;
}

.post-description {
    font-size: 0.9em;
}

.post-gamertag {
    font-weight: bold;
}

.post-edit-delete {
    font-weight: normal;
    margin-top: 5px;
}

.post-edit:hover {
    cursor: pointer;
    color: #000;
    text-decoration: underline;
}

.post-delete:hover {
    cursor: pointer;
    color: red;
    text-decoration: underline;
}

.post-item-icon {
    font-size: 1.3em;
    margin-right: 10px;
}
.post-gold-cost {
    display: flex;
}
